[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/root/Test_File/myvenv/bin/uwsgi -i /root/Test_File/testweb/.config/uwsgi/mysite.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
