<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>UI 테스트</title>

    <!-- Custom fonts for this template-->
    <link href="{%static 'vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{%static 'css/sb-admin-2.min.css'%}" rel="stylesheet">
    {% block head %}
    {% endblock %}

    {% block style %}
    {% endblock %}
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="">
                <div class="sidebar-brand-text mx-3">UI-Test</div>
            </a>

            <!-- Heading -->
            <div class="sidebar-heading">
                데이터 처리
            </div>


            <!-- Nav Item - 정보 불러오기 Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseInfo"
                    aria-expanded="true" aria-controls="collapseInfo">
                    <span>정보 불러오기</span>
                </a>
                <div id="collapseInfo" class="collapse" aria-labelledby="headingInfo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="">파일 불러오기</a>
                        <a class="collapse-item" href="">DB 불러오기</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - 전처리 Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePreprocess"
                    aria-expanded="true" aria-controls="collapsePreprocess">
                    <span>전처리</span>
                </a>
                <div id="collapsePreprocess" class="collapse" aria-labelledby="headingPreprocess"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="">결측치 처리</a>
                        <a class="collapse-item" href="">정규화</a>
                        <a class="collapse-item" href="">이상치 처리</a>
                        <a class="collapse-item" href="">원 핫 인코딩</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - 데이터 품질 검증 Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDataQuality"
                    aria-expanded="true" aria-controls="collapseDataQuality">
                    <span>데이터 품질 검증</span>
                </a>
                <div id="collapseDataQuality" class="collapse" aria-labelledby="headingDataQuality"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="">데이터 속성 검증</a>
                        <a class="collapse-item" href="">데이터 평가</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - 시각화 Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseVisualization"
                    aria-expanded="true" aria-controls="collapseVisualization">
                    <span>시각화</span>
                </a>
                <div id="collapseVisualization" class="collapse" aria-labelledby="headingVisualization"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="">시간 시각화</a>
                        <a class="collapse-item" href="">비교 시각화</a>
                        <a class="collapse-item" href="">관계 시각화</a>
                        <a class="collapse-item" href="">분포 시각화</a>
                        <a class="collapse-item" href="">공간 시각화</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                데이터 예측
            </div>

            <!-- Nav Item - 머신러닝 Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMachineLearning"
                    aria-expanded="true" aria-controls="collapseMachineLearning">
                    <span>머신러닝</span>
                </a>
                <div id="collapseMachineLearning" class="collapse" aria-labelledby="headingMachineLearning"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="">회귀</a>
                        <a class="collapse-item" href="">분류</a>
                        <a class="collapse-item" href="">연관 분석</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - 딥러닝 Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDeepLearning"
                    aria-expanded="true" aria-controls="collapseDeepLearning">
                    <span>딥러닝</span>
                </a>
                <div id="collapseDeepLearning" class="collapse" aria-labelledby="headingDeepLearning"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="">인식</a>
                        <a class="collapse-item" href="">분류</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - 모델 평가 및 시각화 Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseModelEvaluation"
                    aria-expanded="true" aria-controls="collapseModelEvaluation">
                    <span>모델 평가 및 시각화</span>
                </a>
                <div id="collapseModelEvaluation" class="collapse" aria-labelledby="headingModelEvaluation"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="">모델 평가</a>
                        <a class="collapse-item" href="">모델 예측</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - 딥러닝 응용 분석 예 Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse"
                    data-target="#collapseDeepLearningAnalysis" aria-expanded="true"
                    aria-controls="collapseDeepLearningAnalysis">
                    <span>딥러닝 응용 분석 예</span>
                </a>
                <div id="collapseDeepLearningAnalysis" class="collapse" aria-labelledby="headingDeepLearningAnalysis"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="">세라믹</a>
                    </div>
                </div>
            </li>


            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                </nav>

                <!-- End of Topbar -->
                <div class="container-fluid">
                    {% block content %}
                    {% endblock %}
                </div>

                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; Team 6</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        {% block script %}
        {% endblock %}
        <!-- Bootstrap core JavaScript-->
        <script src="{%static 'vendor/jquery/jquery.min.js'%}"></script>
        <script src="{%static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

        <!-- Core plugin JavaScript-->
        <script src="{%static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

        <!-- Custom scripts for all pages-->
        <script src="{%static 'js/sb-admin-2.min.js' %}"></script>


</body>

</html>